NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# MailerLite API Configuration
MAILERLITE_API_KEY=your_mailerlite_api_key_here
MAILERLITE_GROUP_ID=your_mailerlite_group_id_here


# Google Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-7TTVHVHLPE

# Cookie Management
NEXT_PUBLIC_COOKIE_CONSENT_VERSION=1.0